@charset "utf-8";
/* CSS Document */


.popup-wrap
{
    position: relative;
    border-radius: 0px !important;
}
#paytabs_express {
    display: none;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 2%;
    width: 100% !important;
    z-index: 10000;
}
/* This is for the positioning of the Close Link */
#popupBoxClose {
    font-size:20px;  
    line-height:15px;  
    right:5px;  
    top:5px;  
    position:absolute;  
    color:#6fa5e2;  
    font-weight:500;      
}
#fadediv
{
    width: 100%; height: 100%; opacity: 0.3; background-color: black;
}
.open_popup
{
    border:none;
    z-index: 100000000;
    font-size:12px;
    font-weight:700;
    text-decoration:none;
    border-radius:5px;
    color:#fff;
    text-transform:uppercase;
    display:block;
    background-image: url(../images/checkout.png) !important;
    background-repeat: no-repeat;
    width:150px; height:30px;
    cursor:pointer;
    background-color:transparent;
    text-indent: -999999px;
    white-space: nowrap;
    /*    
        background: rgb(87,183,44);  Old browsers 
        background: -moz-linear-gradient(top,  rgb(87,183,44) 0%, rgb(65,155,25) 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(87,183,44)), color-stop(100%,rgb(65,155,25)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  IE10+ 
        background: linear-gradient(to bottom,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b72c', endColorstr='#419b19',GradientType=0 ); /* IE6-9 */
}
.close_
{
    background-image: url(../images/close.png) !important;
    width: 11px; height: 11px; position: absolute; z-index: 1000; top: 7px; right: 6px; cursor: pointer;
}
#overlay{
    position:fixed; top:0; left:0; background:rgba(0,0,0,0.7); z-index:9996; width:100%; height:100%; display:block;  
}


.open_popup_express
{
    border:none;
    z-index: 100000000;
    font-size:12px;
    font-weight:700;
    text-decoration:none;
    border-radius:5px;
    color:#fff;
    text-transform:uppercase;
    display:block;
    background-image: url(../images/checkout.png) !important;
    background-repeat: no-repeat;
    width:150px; height:30px;
    cursor:pointer;
    background-color:transparent;
    text-indent: -999999px;
    white-space: nowrap;
    /*    
        background: rgb(87,183,44);  Old browsers 
        background: -moz-linear-gradient(top,  rgb(87,183,44) 0%, rgb(65,155,25) 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(87,183,44)), color-stop(100%,rgb(65,155,25)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  IE10+ 
        background: linear-gradient(to bottom,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b72c', endColorstr='#419b19',GradientType=0 ); /* IE6-9 */
}

#overlay2{
    position:fixed; top:0; left:0; background:rgba(0,0,0,0.7); z-index:9996; width:100%; height:100%; display:block;  
}

#paytabs_express_v2 {
    display: none;
    left: 0;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 2%;
    width: 400px;
    z-index: 10000;
}

.PT_open_popup,.PT_open_iframe
{
    border:none;
    z-index: 100000000;
    font-size:12px;
    font-weight:700;
    text-decoration:none;
    border-radius:5px;
    color:#fff;
    text-transform:uppercase;
    display:block;

    background-repeat: no-repeat;
    width:150px; height:30px;
    cursor:pointer;
    background-color:transparent;
    text-indent: -999999px;
    white-space: nowrap;
    /*    
        background: rgb(87,183,44);  Old browsers 
        background: -moz-linear-gradient(top,  rgb(87,183,44) 0%, rgb(65,155,25) 100%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(87,183,44)), color-stop(100%,rgb(65,155,25)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  Opera 11.10+ 
        background: -ms-linear-gradient(top,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  IE10+ 
        background: linear-gradient(to bottom,  rgb(87,183,44) 0%,rgb(65,155,25) 100%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b72c', endColorstr='#419b19',GradientType=0 ); /* IE6-9 */
}
#ar_button
{
    background-image: url(../images/checkout_ar.png);
}
#en_button
{
    background-image: url(../images/checkout.png);
}
#ar_agnipay_button
{
    background-image: url(../images/buynow_ar.png);
}
#en_agnipay_button
{
    background-image: url(../images/buynow.png);
}
#PT_overlay{
    position:fixed; top:0; left:0; background:#fff; z-index:9996; width:100%; height:100%; display:block;  
}

.PT_popup-wrap
{
    position: relative;
    border-radius: 7px !important;
    overflow: hidden;
}

.iframe_wrap {
    height:auto;
    background:#fff;
    color:#000;
    cursor:pointer;
}
.hidden_iframe {
    height:0px;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}
.hidden_iframe.open {
    height:100%;
    width:100%;
    -webkit-transition:height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}
.popup-wrap{
    text-align:center;
    margin:0 auto ;
    -webkit-box-shadow: 0px 1px 5px 4px rgba(50, 50, 50, 0);
    -moz-box-shadow:    0px 1px 5px 4px rgba(50, 50, 50, 0);
    box-shadow:         0px 1px 5px 4px rgba(50, 50, 50, 0);
    position:relative; 
    z-index:10;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #fff;

}
.content-area{
	background:#fff;
	padding:0px 0px;
}
.login-wrap{
	background:#fff;
	display:inline-block;
	width:100%;
	/*margin-left:-3px;*/
	vertical-align:top;
	border-radius:0px;
	overflow:hidden;
}
#shipping_wrap{
	display:none;}
.panel-group{
	display:none;}
	.footer-area{
		display:none;
	}
.change_content fieldset:nth-of-type(odd){
	display:none;}

span.input-group-addon{
	display:none;
	}	
.change_content fieldset .input-group{
	width:100%;
	}
.change_content fieldset .input-group .textbox-wrap {
    width:100% !important;
}
.change_content fieldset .input-group .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;;
    line-height: 1.5;
    color: #495057;
    margin: 0px 0px 40px 0px;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.change_content fieldset .input-group .has-error {
	border-top:0px !important;
	border-left:0px !important;
	border-right:0px !important;
	 border-bottom: 2px solid #ff9439 !important;
}


.change_content fieldset .input-group:nth-child(1) input:last-child{
	display:none;}
.change_content fieldset .input-group:nth-child(4) input.textbox-wrap {
	width:45% !important;
	float:left !important;}
.change_content fieldset .input-group:nth-child(4) input:last-child{
	margin-left:4%;
	float:right !important;
}



.change_content .alert  p{
	display:inline;
	font-size:12px;
	font-weight:normal;
	}
.change_content .alert{
	font-weight:bold;
	font-size:14px !important;
	width:100%;
}



.login-btn {
    /* background: #575656; */
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    background: #313745 !important;
    /*background: -moz-linear-gradient(top, rgb(87,183,44) 0%, rgb(65,155,25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(87,183,44)), color-stop(100%,rgb(65,155,25)));
    background: -webkit-linear-gradient(top, rgb(87,183,44) 0%,rgb(65,155,25) 100%);
    background: -o-linear-gradient(top, rgb(87,183,44) 0%,rgb(65,155,25) 100%);
    background: -ms-linear-gradient(top, rgb(87,183,44) 0%,rgb(65,155,25) 100%);
    background: linear-gradient(to bottom, rgb(87,183,44) 0%,rgb(65,155,25) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313745', endColorstr='#313745',GradientType=0 );*/
}


#PT_checkout_submit{
	width: auto;
    min-width: 300px;
    padding-left: 15px;
    padding-right: 15px;
	float:right;
	
	margin-top: 10px;
    background-color: #313745 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 11px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
#PT_checkout_submit:hover{
	-webkit-box-shadow: 0px 5px 33px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 33px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 33px -8px rgba(0,0,0,0.3);
    background-color: #20242F;
    color: #fff;
}


/*PAYTAB IFRAME*/
body{
	margin:0px !important;}

/*PAYTAB IFRAME END*/


@media only screen and (max-width: 767px) {
	
	#PT_checkout_submit{
/*	position:fixed;
	bottom:0vh;
	left:0px;*/
	z-index:1001;
	width:100%;
	background-color:#fff;
	text-align:center !important;
	}
}